<div class="row">
    <div class="col-lg-12">
        <h2>{{ bHeader }} <small ng-if="commute.selDate"> на {{commute.selDate|date}}</small></h2>
    </div>
</div>
<div class="row">
    <div ng-if="warning" class="alert alert-warning col-lg-12 nbsBuilding">
        <strong>Недостаточно данных.</strong> Сохранение информации началось почти через год после старта продаж.
    </div>
</div>
<div class="row">
    <div class="col-lg-12" ui-view="building">&nbsp;
        <div nbs-popover></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <h3>История предложения</h3>
        <div avail-flats-q-chart></div>
    </div>
    <div class="col-lg-4">
        <h3>Средняя цена за метр</h3>
        <div price-history-chart></div>
    </div>
    <div class="col-lg-4">
        <h3>Квартиры в корпусе</h3>
        <div sale-status-chart2></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        &nbsp;
    </div>
    <div class="col-lg-4">
        <h3>Состояние продажи</h3>
        <div sale-status-chart></div>
    </div>
    <div class="col-lg-4">
        &nbsp;
    </div>
</div>
