@import "/../bower_components/bootstrap/less/bootstrap.less";
@import "/../bower_components/bootstrap/less/variables.less";
@import "/../bower_components/eonasdan-bootstrap-datetimepicker/src/less/bootstrap-datetimepicker.less";
@import "variables.less";
@import "bdTable.css";

body {
  padding:20px 0 50px 0;
}

.navbar-inverse {
  border-radius: @navbar-border-radius;
  #gradient.vertical(#c73d00; #900; 25%; 85%);
}

.navbar-default {
  border-radius: (@navbar-border-radius * 2);
}

.btn-inverse {
  .button-variant(lighten(@navbar-inverse-color, 25%); lighten(@navbar-inverse-bg, 10%); @navbar-inverse-border);
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

//footer
.navbar-wrapper.nbsFooter {
  position:fixed;
  bottom:0;
  background-color:#FFF
}

.navbar-wrapper.nbsFooter > .navbar{
  margin-bottom:.75em;
}

.alert.nbsBuilding{
  padding:.75em;
}

// Flat information popovers

.popover p {
  margin:0.1em 0;
  //border:1px solid red;
}

.popover-title {
  white-space: nowrap;
  }

.label-notAvail{
  &:extend(.label-default);
}

.label-avail{
  &:extend(.label-success);
}

.label-sold{
  &:extend(.label-warning);
}

/* hand made rouble symbol */
.rouble {
  display: inline-block;
  position: relative;
}

.rouble:before {
  display: block;
  content: "–";
  position: absolute;
  top: 0.12em;
}

/* flat sales pie chart */
div.graph-sales .arc path { stroke: #ffffff; }

div.graph-sales .pieChartLabels{
  font-family: Georgia;
  font-weight: bold;
  font-size:1em;
}

/* flat price history chart */
div.graph-price{ font-size:12px; }

div.graph-price .axis path, .axis line {
  fill: none;
  shape-rendering: crispEdges;
}

div.graph-price .line {
  fill: none;
  stroke-width: 2px;
}

div.graph-price .grid .tick {
  stroke-width: 1px;
  stroke: #dddddd;
}

div.graph-price .grid path { stroke-width: 1px; }

div.graph-price .axis path { stroke:#999; }

div.graph-price .y.axis line {
  fill: none;
  stroke: #eee;
}

/* available flats quantity graph */
div.graph-availFlatsQ{
  font-size:12px;
}
div.graph-availFlatsQ .axis path,
div.graph-availFlatsQ .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div.graph-availFlatsQ .bar {
  fill: steelblue;
}

div.graph-availFlatsQ .tick {
}

div.graph-availFlatsQ .axis path,
div.graph-availFlatsQ .axis line{
  stroke: #999;
}

/* date picker in header */
div.nbsDateSelector .dropdown-menu{
  min-width: 18em;
}

div.nbsDateSelector .dropdown-menu table {
  width:100%
}

div.nbsDateSelector .dropdown-menu button{
  border:none;
}

accordion {
  font-size:large;
}
accordion h4 { margin:0 }