<!DOCTYPE html>
<html lang="en" ng-app="nbsApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>New buildings story</title>

    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
<div class="container" ng-controller="gui">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="navbar-header">
                        <div class="navbar-brand">New Building Profile</div>
                    </div>
                    <ul class="nav navbar-nav">
                        <li dropdown is-open="isOpen">
                            <a class="dropdown-toggle">ЖК Новокосино <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-header">Корпуса</li>
                                <li><a ng-click="isOpen=false" ui-sref="r9mk.building({bId:1})">первый</a></li>
                                <li><a ng-click="isOpen=false" ui-sref="r9mk.building({bId:2})">второй</a></li>
                                <li><a ng-click="isOpen=false" ui-sref="r9mk.building({bId:3})">третий</a></li>
                            </ul>
                        </li>
                        <li><a ui-sref="about">Справка</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <form class="navbar-form" ng-controller="snapDatepicker" ng-hide="hideDatePicker">
                        <div class="input-group navbar-right nbsDateSelector">
                            <input type="text" class="form-control navbar-right" style="width:8em"
                                   datepicker-popup="dd.MM.yyyy" ng-model="commute.selDate" is-open="opened"
                                   max-date="commute.stopDate" min-date="commute.startDate" show-button-bar="0"
                                   datepicker-options="dateOptions"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container col-lg-12" ui-view></div>

    <div class="navbar-wrapper visible-lg visible-md nbsFooter">
        <div class="navbar navbar-default">
            <div class="container">
                <p class="navbar-text">&copy; <a href="mailto:a.malitsky@gmail.com">Malitsky Alexander</a> {{currYear}}</p>
            </div>
        </div>
    </div>
</div>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/momentjs/moment.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/lodash/dist/lodash.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<script src="js/filters.js"></script>
<script src="js/services.js"></script>
</body>
</html>
