<div class="row" style="margin-top:1em">
    <div>
        <uib-accordion close-others = "false">
            <div
                uib-accordion-group
                is-open = "true"
                class = "panel-default"
            >
                <uib-accordion-heading>
                    <h4>Что это такое и как этим пользоваться?</h4>
                </uib-accordion-heading>

                <p>Это приложение &#8212 версия страницы <a href="http://novokosino.ndv.ru/sale/?build=1710">квартиры в продаже</a> компании &laquo;НДВ Недвижимость&raquo;, продающей квартиры в жилом комплексе &laquo;Новокосино&raquo;, г. Реутов. Впрочем, приложение не имеет никакого отношения к названной компании.</p>
                <p>Основной элемент &#8212 схематичное представление жилого здания, поделенного горизонтальными белыми линиям на этажи, а вертикальными &#8212 на квартиры. Фон квадрата (одной квартиры) информирует о количестве комнат. Так голубой фон означает студию, фиолетовый &#8212 однокомнатную квартиру и так далее. В квадрате может находится зелёное или жёлтое окошко. Зелёный цвет свидетельствует о том, что квартиру можно купить, а жёлтое &#8212 о том, что квартира уже была продана. Отсутствие окошка в квадратике говорит о том, что квартира ещё не была в продаже (придержана застройщиком).</p>
                <p>При наведении курсора мыши на любой квадратик отображается информационный баллон с площадью квартиры, её ценой и номером. Там же отображается дата выхода квартиры в продажу и дата её продажи, если она уже продана.</p>
                <p>Первый график под схемой здания показывает сколько квартир предлагалось застройщиком к продаже в разные месяцы. Каждый столбик месяца разделён по типам квартир &#8212 можно посмотреть, сколько, к примеру, однокомнатных квартир было в продаже в интересующем месяце.</p>
                <p>Второй график показывает среднюю цену квадратного метра для каждого типа квартир. Тут же можно увидеть насколько отличается стоимость квадратного метра студии и трёхкомнатной квартиры.</p>
                <p>Третий график отображает процентное соотношение проданных, доступных для покупки и придержанных квартир.</p>
                <p>В шапке приложения можно выбрать интересующий корпус ЖК. С помощью календаря в левой части шапки можно немного перемещаться во времени и изучать состояние шахматки на выбранный день.</p>
            </div>

            <div
                uib-accordion-group
                class = "panel-default"
            >
                <uib-accordion-heading class = "panel-default">
                    <h4>Цели и задачи приложения</h4>
                </uib-accordion-heading>

                <p>Основная задача приложения &#8212 предоставление человеку, заинтересованному в покупке квартиры, максимального объёма полезной информации о новостройке. В первую очередь это информация о том, какие квартиры сейчас находятся в продаже, какие уже были проданы, а какие пока придержаны застройщиком для продажи в будущем. Для каждой квартиры указывается цена, номер, этаж и площадь. Если квартира в продаже, то указывается дата выхода в продажу, если была продана, то и дата её продажи.</p>
                <p>Потенциального покупателя часто интересует соотношение количества квартир разных типов (студии, однокомнатные, двухкомнатные и т.п.) в здании. Так подъезд, в котором 70% квартир являются студиями, вряд ли заинтересует семью с детьми.</p>
                <p>Изменение цены на предлагающиеся квартиры является косвенным признаком качества предложения. Оценка спроса по скорости покупки квартир после выхода на рынок характеризует ликвидность предложения.</p>
                <p>Цель, которую помагает достигать приложение &#8212 осознанный и информированный выбор квартиры покупателем.</p>
            </div>

            <div
                uib-accordion-group
                class = "panel-default"
            >
                <uib-accordion-heading>
                    <h4>Технические подробности</h4>
                </uib-accordion-heading>

                <p>Для анализа данных и наглядного представления информации достаточно API или RESTfull сервиса, подключенного к базе данных застройщика по квартирам, зданиям и ходу продаж. Логика приложения отделена от конкретных зданий, поэтому подключение любых новостроек от разных застройщиков относительно проста.</p>
                <p>В этом демо проекте для получения исходной информации PHP скрипт периодически опрашивает веб сайт застройщика, ищет различия по сравнению с прошлым визитом, обрабатывает и сохраняет полученную информацию в своей базе данных.</p>
                <p>Каждый день серверный скрипт формирует выгрузки из базы данных в формате JSON, которые используются клиентской частью для построения модели данных и представления информации в браузере в виде шахматки и графиков. При открытии приложения вся исходная для анализа информация уже находится на сервере в виде статических файлов в подготовленном виде, серверу не нужно обрабатывать каждый пользовательский запрос в интерактивном режиме с помощью PHP, Python или в виде обращений к базе данных. Вся логика приложения перенесена в браузер посетителя.</p>
                <p>Проект написан на JavaScript с использованием фреймворка <a href="https://docs.angularjs.org/guide/introduction">AngularJS</a> вместе с <a href="http://angular-ui.github.io/">AngularUI</a> компонентами, библиотек <a href="http://jquery.com/">JQuery</a>, <a href="http://momentjs.com">Moment.js</a> и <a href="http://d3js.org/">D3</a>.</p>
            </div>
        </uib-accordion>
    </div>
</div>
