<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New buildings story</title>

</head>
<body>
  <script type="module" src="/js/jquery.js"></script>
  <script type="module" src="/js/main.js"></script>

  <div class="container" ng-controller="guiController">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="navbar-header">
              <a
                class="navbar-brand"
                ui-sref="r9mk.building({ bId:3 })"
              >
                New Building Profile
              </a>
            </div>
            <ul class="nav navbar-nav">
              <li uib-dropdown is-open="isOpen">
                <a class="uib-dropdown-toggle" uib-dropdown-toggle>ЖК Новокосино <b class="caret"></b></a>
                <ul class="uib-dropdown-menu" uib-dropdown-menu role="menu">
                  <li class="dropdown-header" uib-dropdown-header>Корпуса</li>
                  <li><a ng-click="isOpen=false" ui-sref="r9mk.building({bId:1})">первый</a></li>
                  <li><a ng-click="isOpen=false" ui-sref="r9mk.building({bId:2})">второй</a></li>
                  <li><a ng-click="isOpen=false" ui-sref="r9mk.building({bId:3})">третий</a></li>
                </ul>
              </li>
              <li><a ui-sref="about">Справка</a></li>
            </ul>
          </div>

          <div
            class="col-md-4 DateSelect-Wrapper"
            ng-hide="hideDatePicker"
          >
            <input
              type="date"
              class="form-control DateSelect-Input"
              ng-model="commute.selDate"
              max="{{ commute.stopDate | date: 'yyyy-MM-dd' }}"
              min="{{ commute.startDate | date: 'yyyy-MM-dd' }}"/>
          </div>
        </div>
      </div>
    </div>

    <div class="container col-lg-12" ui-view></div>

    <div class="navbar-wrapper visible-lg visible-md nbsFooter">
      <div class="navbar navbar-default">
        <div class="container">
          <p class="navbar-text">&copy; <a href="mailto:a.malitsky@gmail.com">Malitsky Alexander</a> {{currYear}}</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
